
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedContact?.name}}</h1>
  </div>
  <div class="col-xs-6">
    <img src="{{selectedContact?.imagePath}}" alt="" class="img-responsive" length="100px" width="100px">
  </div>
  <div class="col-xs-6">

    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>Email: {{selectedContact?.email}}</p>
  </div>
  <div class="col-xs-12">
    <p>Phone: {{selectedContact?.phone}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
